<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Applicazione ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-warning fw-bolder ">
        <div class="container-fluid">
            <DIV class="container-fluid">
                <img id="logo" src="~/Content/img/SDALogo.png" />
                @Html.ActionLink("SDA", "Index", "Home", new { area = "" }, new { @class = "navbar-brand text-primary fst-italic fw-bolder" })
            </DIV>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-link">
                        @Html.ActionLink("Privati", "Create", "Trasgressori", new { }, new { @class = "text-primary text-decoration-none" })
                    </li>
                    <li class="nav-link">
                        @Html.ActionLink("Aziende", "Create", "Violazioni", new { }, new { @class = "text-primary text-decoration-none" })
                    </li>
                    <li class="nav-link">
                        @Html.ActionLink("Spedizioni", "Create", "Verbali", new { }, new { @class = "text-primary text-decoration-none" })
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        @*<hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Applicazione ASP.NET</p>
        </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
